---
import Layout from '../layouts/Layout.astro';
import MoreProjects from '../components/MoreProjects.astro'
---

<Layout title="Fabricio Jordán Portfolio.">
	<main>
		<MoreProjects></MoreProjects>
	</main>
</Layout>
