---
import logo from '../assets/icon/icon1.svg';
---


<header class="w-full flex flex-row justify-between items-center m-auto [&_*]:transition-all [&_*]:duration-500 ">
    <img class="w-8 h-8 invert hover:invert-[.65]" src={logo?.src} alt="Svg of a planet with rings.">

    <nav class="flex flex-row gap-4 justify-center items-center [&>A]:text-[#9f968a] hover:[&>A]:text-[#ba5bff]">
        <a class="" href="/">Home</a>
        <a href="/about">About</a>
        <a href="/projects">Projects</a>
        <a href="/skills">Skills</a>
    </nav>
</header>