---
import MiniProject from "./MiniProject.astro";
//import projectData from '../services/docs/projects.json';


//for (var i = 0; i < projectData.length; i++) {
    //console.log(projectData[i]  )
//  }
  let projectData =[
    {
        "name": "Xiaomi Fake Page",
        "image": "/src/assets/img/projects/xiaomi2.png",
        "url": "https://xiaomi-page.vercel.app",
        "github": "https://github.com/FabrizioJordan/xiaomiPage/"
    },
    {
        "name": "Portafolio personal",
        "image": "/src/assets/img/projects/xiaomi1.png",
        "url": "https://fabiriciojordan.vercel.app",
        "github": "https://github.com/FabrizioJordan/prototypePortfolio1"
    },
    {
        "name": "Xiaomi Fake Page",
        "image": "/src/assets/img/projects/xiaomi1.png",
        "url": "https://fabiriciojordan.vercel.app",
        "github": "https://github.com/FabrizioJordan/prototypePortfolio1"
    }
]
--- 

<section class="flex flex-col gap-4">
  <hgroup>
    <h2 class="font-semibold">Other projects.</h2>
    <p class="text-[#c9c9c9] font-thin">
      The rest of the projects created by me or in which I participated.
    </p>
  </hgroup>
  <ul class="flex flex-row gap-2 flex-wrap">
    { 
      projectData.map(({ name, image, url, github }) => (
        <MiniProject
          name={name}
          image={image}
          url={url}
          github={github}
        />
      ))
    }
  </ul>
</section>
